body
{
    background-color: rgb(19, 105, 69);
    color: wheat;
    font-size: 20px;
    background-image: image("hatter.jpg");
}
.fejlec li
{
    float: left;
    padding: 0px;
    text-align: center;
    background-color: rgb(19, 105, 69);
    color:  wheat;


}